<!DOCTYPE HTML>
<html>
  <head>
    <title>Clean India App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <style type="text/css">
    .fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
  </style>
  <body class="is-loading">
      <!-- Wrapper -->
      <div id="wrapper" style="margin-top:10px;margin-bottom:10px;">
        <!-- Main -->
          <section class="main" style="margin-top: -2%; width: 35%">
            <!-- <header>
              <span class="avatar"><img src="img/profile.png" style="height:100px;width:100px" alt=""></span>
              <h1 style="margin-top: 2%">CLEAN_CLAN</h1>
            </header>
            <hr>
            <h2 style="margin-top: -2%">JOIN US!</h2> -->

            <!-- <form id='signupform' enctype="multipart/form-data"> -->
            <form id='addpostform' action="/posts/newpost" method="post" enctype="multipart/form-data">
              <h1 style="margin-top: 1%">New Issue</h1>

                <input class="field" type="text" name="title" id="title" placeholder="Title" style="margin-bottom:15px;" required/>


                <input class="field" type="text" name="location" id="location" placeholder="Location" style="margin-bottom:15px;" required/>
                <div class="select-wrapper field" style="margin-bottom:15px;">
                  <select name="city" id="city" required>
                    <option value="Bhubaneswar">Bhubaneswar</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Delhi">Delhi</option>
                  </select>
                </div>

                <textarea type="textarea" name="description" placeholder="Description" id="description" required></textarea><br>

                <!-- <div class="select-wrapper field" style="margin-bottom:15px;">
                  <select name="city" id="city" required>
                    <option value="Bhubaneswar">Bhubaneswar</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Delhi">Delhi</option>
                  </select>
                </div> -->

                <input type="file" class="filestyle" data-btnClass="btn-primary" name="image" placeholder="Get issue image" required>

                <div class="col col-sm-8 text-left" style="margin-top:5%">
                   <div class="form-group">
                     <div class='input-group date' id='datetimepicker1'>
                       <input class="form-control input-sm" style="background-color:lavenderblush;" type="text" id="date" name="date" class="form-control input-lg col-lg-4">
                        <span class="input-group-addon">
                         <span class="glyphicon glyphicon-calendar"></span>
                       </span>
                     </div>
                   </div>
                 </div>
                  <br>
                  <br>



                <!-- <label>Image</label><input type="file" name="image" style="float:left" required> -->
                <!-- Image:<input type="file" name="image" style="float:left" required> -->
                <!-- <input type="file" class="filestyle"> -->

                <!-- <input type="file" class="filestyle" data-badge="true"> -->
               <input style="margin-top:15px;" class="field" type="submit" value="ADD" class="button" id="signbutton">
                 <!-- <p style="margin-bottom:15px;" class="signmsg"  ></p> -->
            </form>
          </section>

        <!-- Footer -->

      </div>

    <!-- Scripts -->
      <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
      <!-- <script>
        if ('addEventListener' in window) {
          window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
          document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
      </script> -->

    <script type="text/javascript" src="/javascript/jquery.js"></script>
    <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js'></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.3.0/bootstrap-filestyle.min.js"> </script>
    <script >
    $(function () {
        $('#datetimepicker1').datetimepicker();
        var date = new Date();
        document.getElementById("date").value = date;
      });
    // $(":file").filestyle();
    $(":file").filestyle({btnClass: "btn-primary"});
    // $(":file").filestyle({badge: true});
      </script>

  </body>
</html>
