<!DOCTYPE HTML>
<html>
  <head>
    <title>Profile</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body class="is-loading">
    <!-- Wrapper -->
      <div id="wrapper">
              <!-- Main -->
          <section class="main" style="width:40%">
            <header>
              <span class="avatar"><img src="img/profile.png" style="height:100px;width:100px" alt="" /></span>
              <h1 style="margin-top: 1%">[add username]</h1>
              <hr>
            </header>

            <!-- <div class="container"> -->
              <p class="title">[location]</p>
              <p>[Bio]</p>
              <br>
              <!-- <div style="margin: 24px 0;">
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
             </div> -->
             <!-- <p><button onclick="/">Home</button></p> -->
             <button><a href="/">Home</a></button>
            <!-- </div> -->

            <!-- <form id='loginform' method="post" action="users/login">
              <input type="email" name="email" id="email" placeholder="Email" style="margin-bottom:10px;" required/>
              <input type="password" name="password" id="password" placeholder="Password" style="margin-bottom:10px;" required/>
              <input type="submit" value="LOG IN" id="loginbutton" style="margin-bottom:10px;">
              <p class="msg"></p>
            </form> -->

          </section>


      </div>

    <!-- Scripts -->
      <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
      <!-- <script>
        if ('addEventListener' in window) {
          window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
          document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
        }
      </script> -->
      <script type="text/javascript" src="/javascript/jquery.js"></script>
  </body>
</html>
